In [ ]:
#testing


import pandas as pd
import ast

# Read the CSV file
df = pd.read_csv('mc.csv')

# Convert string representations of lists to actual lists
list_columns = ['jet_pt_list', 'jet_eta_list', 'jet_E_list', 'jet_trueflav_list']
for col in list_columns:
    df[col] = df[col].apply(ast.literal_eval)

# Now you can access any property of any jet
print(df.head())
df
df.jet_pt_list[0][0]

   event  jet_n                                        jet_pt_list  \
0      0      6  [271863, 186757, 57252.9, 39588.8, 38928.7, 28...
1      1      4                 [211907, 109539, 54931.6, 33384.9]
2      2      5        [259841, 112467, 94588.1, 71011.8, 40394.6]
3      3      3                          [339500, 162595, 38902.5]
4      4      7  [165467, 164039, 102631, 75288.6, 53427, 47267...

                                        jet_eta_list  \
0  [0.839723, 1.85806, 0.940118, 0.995285, 1.6938...
1          [-0.792976, -1.21082, -2.16857, -1.52695]
2  [0.698373, -0.0551419, -0.508541, -0.822418, 0...
3                     [0.958082, -1.9814, -0.258449]
4  [0.519747, -0.341175, 0.0856977, 0.295679, 0.8...

                                          jet_E_list      jet_trueflav_list
0  [374914, 613670, 84944.2, 61377.7, 109550, 669...     [0, 5, 0, 5, 4, 0]
1                  [282770, 200621, 243504, 80582.3]           [5, 0, 5, 4]
2         [326180, 113248, 107384, 96548.1, 46861.3]        [0, 0, 5, 0, 0]
3                          [507670, 601056, 40839.7]              [0, 0, 5]
4  [188947, 174151, 103893, 79533.2, 72982.4, 634...  [0, 0, 0, 5, 0, 5, 0]

271863

In [ ]:
df

,event,jet_n,jet_pt_list,jet_eta_list,jet_E_list,jet_trueflav_list
0,0,6,"[271863, 186757, 57252.9, 39588.8, 38928.7, 28...","[0.839723, 1.85806, 0.940118, 0.995285, 1.6938...","[374914, 613670, 84944.2, 61377.7, 109550, 669...","[0, 5, 0, 5, 4, 0]"
1,1,4,"[211907, 109539, 54931.6, 33384.9]","[-0.792976, -1.21082, -2.16857, -1.52695]","[282770, 200621, 243504, 80582.3]","[5, 0, 5, 4]"
2,2,5,"[259841, 112467, 94588.1, 71011.8, 40394.6]","[0.698373, -0.0551419, -0.508541, -0.822418, 0...","[326180, 113248, 107384, 96548.1, 46861.3]","[0, 0, 5, 0, 0]"
3,3,3,"[339500, 162595, 38902.5]","[0.958082, -1.9814, -0.258449]","[507670, 601056, 40839.7]","[0, 0, 5]"
4,4,7,"[165467, 164039, 102631, 75288.6, 53427, 47267...","[0.519747, -0.341175, 0.0856977, 0.295679, 0.8...","[188947, 174151, 103893, 79533.2, 72982.4, 634...","[0, 0, 0, 5, 0, 5, 0]"
...,...,...,...,...,...,...
785,785,7,"[141884, 113653, 86001.3, 58826.3, 28676.2, 25...","[-0.534704, -1.81199, -2.04353, -2.1417, -0.08...","[163011, 357426, 337477, 253961, 29520.2, 5811...","[0, 5, 5, 0, 0, 0, 0]"
786,786,7,"[175306, 127078, 55464.6, 50238.6, 31509.6, 20...","[-0.716637, -0.948845, -0.531592, 1.2752, 1.18...","[223602, 189044, 63668.1, 97033.7, 56454.4, 23...","[0, 0, 15, 5, 0, 0, 5]"
787,787,4,"[448368, 128266, 116595, 59794.4]","[-1.06256, -1.2712, -1.39824, -1.49788]","[729261, 247160, 251170, 140453]","[0, 5, 5, 0]"
788,788,8,"[365699, 88212.6, 79553.9, 53957.7, 49703.3, 4...","[1.04467, 0.443919, 1.23147, -0.979327, 1.3949...","[584413, 98235, 148195, 82279.2, 106688, 10815...","[0, 4, 5, 0, 5, 0, 4, 0]"
789,789,6,"[239130, 101789, 96092.4, 70883, 51936.4, 2143...","[-0.0403311, 2.04715, 1.18708, 0.450932, 0.197...","[240659, 400861, 172629, 78625.7, 53533.8, 127...","[0, 0, 5, 5, 0, 0]"

In [ ]:
df.jet_pt_list[0][0]

271863