<a href="https://colab.research.google.com/github/iam7mza/EventClassification/blob/main/Event_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone "https://github.com/iam7mza/EventClassification.git"
!mv EventClassification/* ./

In [ ]:
#importing data
#importing data lol
#haha
import loader
import numpy as np


filepath = "csv_output"
df = loader.load(filepath, targettype='onehot', unique=True)
loader.clean(df); #to clean the data

Found 104 CSV files
One-hot encoded targets created with 9 classes
Event type mapping:
  C1N2: target 0
  GG: target 1
  TT: target 2
  Wenu: target 4
  WlvZqq: target 4
  Wminusenu: target 4
  Wminusmunu: target 4
  Wminustaunu: target 4
  Wmunu: target 4
  Wplusenu: target 4
  Wplusmunu: target 4
  Wplustaunu: target 4
  WplvWmqq: target 4
  WqqZll: target 4
  Wtaunu: target 4
  ZPrime1000: target 6
  ZPrime1250: target 6
  ZPrime1500: target 6
  ZPrime1750: target 6
  ZPrime2000: target 6
  ZPrime2250: target 6
  ZPrime2500: target 6
  ZPrime2750: target 6
  ZPrime3000: target 6
  ZPrime400: target 6
  ZPrime500: target 6
  ZPrime750: target 6
  Zee: target 5
  Zmumu: target 5
  ZqqZll: target 5
  Ztautau: target 5
  lllv: target 3
  llvv: target 3
  lvvv: target 3
  single: target 7
  ttbar: target 8
Processing: csv_output/Wenu_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Ztautau_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/C1N2_WZ_400p0_0p0_3L_2L7_sample200.csv
  -> Added 200 events with target 0 (event type: C1N2)
Processing: csv_output/Wenu_PTV70_140_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wtaunu_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/ZPrime750_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime750)
Processing: csv_output/ZqqZll_sample200.csv
  -> Added 200 events with target 5 (event type: ZqqZll)
Processing: csv_output/Ztautau_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/Wmunu_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Zmumu_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/TT_directTT_500_200_sample200.csv
  -> Added 200 events with target 2 (event type: TT)
Processing: csv_output/Zmumu_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/Wmunu_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/GG_ttn1_1400_5000_1_sample200.csv
  -> Added 200 events with target 1 (event type: GG)
Processing: csv_output/ZPrime3000_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime3000)
Processing: csv_output/Zmumu_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/Zee_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/llvv_sample200.csv
  -> Added 200 events with target 3 (event type: llvv)
Processing: csv_output/Wenu_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wminusenu_sample200.csv
  -> Added 200 events with target 4 (event type: Wminusenu)
Processing: csv_output/Zee_PTV500_1000_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Wenu_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wtaunu_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/single_top_tchan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/Ztautau_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/ttbar_lep_sample200.csv
  -> Added 200 events with target 8 (event type: ttbar)
Processing: csv_output/WlvZqq_sample200.csv
  -> Added 200 events with target 4 (event type: WlvZqq)
Processing: csv_output/GG_ttn1_1200_5000_600_sample200.csv
  -> Added 200 events with target 1 (event type: GG)
Processing: csv_output/Zee_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Wmunu_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/WqqZll_sample200.csv
  -> Added 200 events with target 4 (event type: WqqZll)
Processing: csv_output/ZPrime2250_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime2250)
Processing: csv_output/Wmunu_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Wenu_PTV0_70_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Zmumu_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/Zee_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Wtaunu_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/Ztautau_PTV500_1000_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/ZPrime2000_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime2000)
Processing: csv_output/WplvWmqq_sample200.csv
  -> Added 200 events with target 4 (event type: WplvWmqq)
Processing: csv_output/ZPrime1500_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime1500)
Processing: csv_output/TT_directTT_500_1_sample200.csv
  -> Added 200 events with target 2 (event type: TT)
Processing: csv_output/Zee_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Ztautau_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/Zee_PTV70_140_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Wmunu_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Wtaunu_PTV500_1000_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/Wmunu_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/single_antitop_wtchan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/Wplustaunu_sample200.csv
  -> Added 200 events with target 4 (event type: Wplustaunu)
Processing: csv_output/ZPrime1000_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime1000)
Processing: csv_output/Wenu_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wenu_PTV500_1000_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wtaunu_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/single_antitop_schan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/single_top_wtchan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/lllv_sample200.csv
  -> Added 200 events with target 3 (event type: lllv)
Processing: csv_output/Wplusenu_sample200.csv
  -> Added 200 events with target 4 (event type: Wplusenu)
Processing: csv_output/Zee_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Zmumu_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/Zee_PTV0_70_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/ZPrime1250_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime1250)
Processing: csv_output/Wminustaunu_sample200.csv
  -> Added 200 events with target 4 (event type: Wminustaunu)
Processing: csv_output/Wtaunu_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/Wenu_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/ZPrime2500_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime2500)
Processing: csv_output/Wminusmunu_sample200.csv
  -> Added 200 events with target 4 (event type: Wminusmunu)
Processing: csv_output/C1N2_WZ_100p0_0p0_3L_2L7_sample200.csv
  -> Added 200 events with target 0 (event type: C1N2)
Processing: csv_output/Zee_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Wmunu_PTV70_140_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Ztautau_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/single_top_schan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/Zee_PTV0_70_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/C1N2_WZ_350p0_0p0_3L_2L7_sample200.csv
  -> Added 200 events with target 0 (event type: C1N2)
Processing: csv_output/Ztautau_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/Wmunu_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Wtaunu_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/lvvv_sample200.csv
  -> Added 200 events with target 3 (event type: lvvv)
Processing: csv_output/Zee_PTV0_70_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/ZPrime2750_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime2750)
Processing: csv_output/Wenu_PTV70_140_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Zee_PTV1000_E_CMS_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/ZPrime400_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime400)
Processing: csv_output/single_antitop_tchan_sample200.csv
  -> Added 200 events with target 7 (event type: single)
Processing: csv_output/Zmumu_PTV280_500_CVetoBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/TT_directTT_600_1_sample200.csv
  -> Added 200 events with target 2 (event type: TT)
Processing: csv_output/Zmumu_PTV280_500_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/Wenu_PTV140_280_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Ztautau_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)
Processing: csv_output/Zmumu_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zmumu)
Processing: csv_output/GG_ttn1_1200_5000_1_sample200.csv
  -> Added 200 events with target 1 (event type: GG)
Processing: csv_output/Zee_PTV70_140_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/ZPrime1750_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime1750)
Processing: csv_output/Wenu_PTV70_140_BFilter_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/TT_directTT_450_1_sample200.csv
  -> Added 200 events with target 2 (event type: TT)
Processing: csv_output/ZPrime500_tt_sample200.csv
  -> Added 200 events with target 6 (event type: ZPrime500)
Processing: csv_output/GG_ttn1_1600_5000_1_sample200.csv
  -> Added 200 events with target 1 (event type: GG)
Processing: csv_output/Wenu_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wenu)
Processing: csv_output/Wtaunu_PTV140_280_CVetoBVeto_sample200.csv
  -> Added 200 events with target 4 (event type: Wtaunu)
Processing: csv_output/C1N2_WZ_500p0_0p0_3L_2L7_sample200.csv
  -> Added 200 events with target 0 (event type: C1N2)
Processing: csv_output/Wmunu_PTV500_1000_sample200.csv
  -> Added 200 events with target 4 (event type: Wmunu)
Processing: csv_output/Wplusmunu_sample200.csv
  -> Added 200 events with target 4 (event type: Wplusmunu)
Processing: csv_output/Zee_PTV140_280_BFilter_sample200.csv
  -> Added 200 events with target 5 (event type: Zee)
Processing: csv_output/Ztautau_PTV280_500_CFilterBVeto_sample200.csv
  -> Added 200 events with target 5 (event type: Ztautau)

Combined dataset: 20800 total events

Target distribution:
target
0     800
1     800
2     800
3     600
4    7600
5    6400
6    2400
7    1200
8     200
Name: count, dtype: int64

First few rows:
   event  runNumber  eventNumber  channelNumber  jet_n  lep_n  target  \
0   3237     284500        11393         364179      3      1       4
1   7050     284500       143583         364179      1      1       4
2   8159     284500       197923         364179      2      1       4
3  11741     284500       554798         364179      1      1       4
4  12539     284500       268632         364179      2      1       4

                                   target_onehot event_type  \
0  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]       Wenu
1  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]       Wenu
2  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]       Wenu
3  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]       Wenu
4  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]       Wenu

              full_event_name
0  Wenu_PTV280_500_CVetoBVeto
1  Wenu_PTV280_500_CVetoBVeto
2  Wenu_PTV280_500_CVetoBVeto
3  Wenu_PTV280_500_CVetoBVeto
4  Wenu_PTV280_500_CVetoBVeto

Final dataset shape: (20800, 86)
Cleaned 56 list columns in DataFrame

In [2]:
df

,event,runNumber,eventNumber,channelNumber,mcWeight,XSection,SumWeights,scaleFactor_PILEUP,scaleFactor_ELE,scaleFactor_MUON,...,lep_pt_syst,met_et_syst,jet_pt_syst,photon_pt_syst,largeRjet_pt_syst,tau_pt_syst,target,event_type,full_event_name,target_onehot
0,3237,284500,11393,364179,1.00000,38.34050,4312360.0,0.506784,0.97994,1.000000,...,"[1350.08, 0]",14713.300,"[7939.15, 8862.46, 4283.44]","[0, 0]","[7062.34, 0]","[0, 0]",4,Wenu,Wenu_PTV280_500_CVetoBVeto,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
1,7050,284500,143583,364179,1.28004,38.34050,4312360.0,1.264590,0.97749,1.000000,...,"[198.008, 0]",8630.950,"[3915.35, 0]","[0, 0]","[7628.06, 0]","[0, 0]",4,Wenu,Wenu_PTV280_500_CVetoBVeto,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
2,8159,284500,197923,364179,-1.00905,38.34050,4312360.0,0.934886,0.97994,1.000000,...,"[849.554, 0]",1063.080,"[4414.17, 2429.15]","[0, 0]","[11566.6, 0]","[0, 0]",4,Wenu,Wenu_PTV280_500_CVetoBVeto,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
3,11741,284500,554798,364179,1.00000,38.34050,4312360.0,1.745630,0.97996,1.000000,...,"[8165.19, 0]",967.086,"[5288.77, 0]","[0, 0]","[2571.69, 15627.8]","[0, 0]",4,Wenu,Wenu_PTV280_500_CVetoBVeto,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
4,12539,284500,268632,364179,1.00000,38.34050,4312360.0,0.923924,0.98413,1.000000,...,"[1231.58, 0]",10927.200,"[11498.2, 5645.33]","[0, 0]","[9633.25, 0]","[0, 0]",4,Wenu,Wenu_PTV280_500_CVetoBVeto,"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20795,29220,284500,870016,364138,1.00000,2.23622,905387.0,1.262050,0.96988,1.000000,...,"[718.465, 0]",1732.890,"[2929.02, 2433.32]","[0, 0]","[22198.5, 0]","[0, 0]",5,Ztautau,Ztautau_PTV280_500_CFilterBVeto,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"
20796,29334,284500,680015,364138,1.00000,2.23622,905387.0,0.000000,1.00000,0.985906,...,"[286.408, 0]",4102.910,"[3739.75, 2517.29, 3665.26, 992.514]","[0, 0]","[16776.3, 0]","[0, 0]",5,Ztautau,Ztautau_PTV280_500_CFilterBVeto,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"
20797,29361,284500,505141,364138,1.00000,2.23622,905387.0,1.241680,1.00000,0.997112,...,"[1704.16, 0]",3326.330,"[10076.7, 3832.86, 4567.74, 1158.98]","[0, 0]","[2654.48, 0]","[0, 0]",5,Ztautau,Ztautau_PTV280_500_CFilterBVeto,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"
20798,29687,284500,584872,364138,1.00000,2.23622,905387.0,1.264590,1.00000,0.994069,...,"[15318.8, 0]",2113.720,"[9027.32, 7968.19, 2043.77, 2613.15, 4208.46]","[0, 0]","[30372.1, 0]","[0, 0]",5,Ztautau,Ztautau_PTV280_500_CFilterBVeto,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"
20799,30160,284500,654568,364138,1.00000,2.23622,905387.0,0.923924,0.97166,1.000000,...,"[550.866, 0]",1188.050,"[7661.01, 4409.94, 3939.02]","[0, 0]","[16364.7, 877.188]","[0, 0]",5,Ztautau,Ztautau_PTV280_500_CFilterBVeto,"[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]"

In [3]:
# Check unique event types and their corresponding targets
event_target_mapping = df[['event_type', 'target']].drop_duplicates().sort_values('target')
print("Event type to target mapping:")
print(event_target_mapping)

Event type to target mapping:
        event_type  target
400           C1N2       0
2600            GG       1
2000            TT       2
3400          llvv       3
11200         lllv       3
15400         lvvv       3
3800     Wminusenu       4
0             Wenu       4
7800      WplvWmqq       4
9800    Wplustaunu       4
12400  Wminustaunu       4
11400     Wplusenu       4
6000        WqqZll       4
5200        WlvZqq       4
800         Wtaunu       4
1600         Wmunu       4
13200   Wminusmunu       4
20200    Wplusmunu       4
1800         Zmumu       5
1200        ZqqZll       5
200        Ztautau       5
3200           Zee       5
2800    ZPrime3000       6
8000    ZPrime1500       6
10000   ZPrime1000       6
12200   ZPrime1250       6
6200    ZPrime2250       6
7600    ZPrime2000       6
13000   ZPrime2500       6
15800   ZPrime2750       6
16400    ZPrime400       6
1000     ZPrime750       6
18400   ZPrime1750       6
19000    ZPrime500       6
4600        single       7
5000         ttbar       8

In [4]:
df.columns

Index(['event', 'runNumber', 'eventNumber', 'channelNumber', 'mcWeight',
       'XSection', 'SumWeights', 'scaleFactor_PILEUP', 'scaleFactor_ELE',
       'scaleFactor_MUON', 'scaleFactor_PHOTON', 'scaleFactor_TAU',
       'scaleFactor_BTAG', 'scaleFactor_LepTRIGGER',
       'scaleFactor_PhotonTRIGGER', 'trigE', 'trigM', 'trigP', 'lep_n',
       'lep_truthMatched', 'lep_trigMatched', 'lep_pt', 'lep_eta', 'lep_phi',
       'lep_E', 'lep_z0', 'lep_charge', 'lep_type', 'lep_isTightID',
       'lep_ptcone30', 'lep_etcone20', 'lep_trackd0pvunbiased',
       'lep_tracksigd0pvunbiased', 'met_et', 'met_phi', 'jet_n', 'jet_pt',
       'jet_eta', 'jet_phi', 'jet_E', 'jet_jvt', 'jet_trueflav',
       'jet_truthMatched', 'jet_MV2c10', 'photon_n', 'photon_truthMatched',
       'photon_trigMatched', 'photon_pt', 'photon_eta', 'photon_phi',
       'photon_E', 'photon_isTightID', 'photon_ptcone30', 'photon_etcone20',
       'photon_convType', 'largeRjet_n', 'largeRjet_pt', 'largeRjet_eta',
       'largeRjet_phi', 'largeRjet_E', 'largeRjet_m', 'largeRjet_truthMatched',
       'largeRjet_D2', 'largeRjet_tau32', 'tau_n', 'tau_pt', 'tau_eta',
       'tau_phi', 'tau_E', 'tau_charge', 'tau_isTightID', 'tau_truthMatched',
       'tau_trigMatched', 'tau_nTracks', 'tau_BDTid', 'ditau_m', 'lep_pt_syst',
       'met_et_syst', 'jet_pt_syst', 'photon_pt_syst', 'largeRjet_pt_syst',
       'tau_pt_syst', 'target', 'event_type', 'full_event_name',
       'target_onehot'],
      dtype='object')

In [13]:
# the chosen ones
TheChosenOnes = ['XSection', 'trigE', 'trigM', 'trigP', 'lep_n','lep_pt', 'lep_eta', 'lep_phi',
       'lep_E', 'lep_z0', 'lep_charge', 'lep_type', 'lep_isTightID',
       'lep_ptcone30', 'lep_etcone20', 'lep_trackd0pvunbiased',
       'lep_tracksigd0pvunbiased', 'met_et', 'met_phi', 'jet_n', 'jet_pt',
       'jet_eta', 'jet_phi', 'jet_E', 'jet_jvt','jet_MV2c10', 'photon_n','photon_pt', 'photon_eta', 'photon_phi',
       'photon_E', 'photon_isTightID', 'photon_ptcone30', 'photon_etcone20',
       'photon_convType', 'largeRjet_n', 'largeRjet_pt', 'largeRjet_eta',
       'largeRjet_phi', 'largeRjet_E', 'largeRjet_m','largeRjet_D2', 'largeRjet_tau32', 'tau_n', 'tau_pt', 'tau_eta',
       'tau_phi', 'tau_E', 'tau_charge', 'tau_isTightID', 'tau_nTracks', 'tau_BDTid', 'ditau_m', 'lep_pt_syst',
       'met_et_syst', 'jet_pt_syst', 'photon_pt_syst', 'largeRjet_pt_syst',
       'tau_pt_syst']


df[TheChosenOnes]

,XSection,trigE,trigM,trigP,lep_n,lep_pt,lep_eta,lep_phi,lep_E,lep_z0,...,tau_isTightID,tau_nTracks,tau_BDTid,ditau_m,lep_pt_syst,met_et_syst,jet_pt_syst,photon_pt_syst,largeRjet_pt_syst,tau_pt_syst
0,38.34050,1,0,0,1,"[202955, 0]","[0.276186, 0]","[-1.95005, 0]","[210745, 0]","[-0.000701904, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[1350.08, 0]",14713.300,"[7939.15, 8862.46, 4283.44]","[0, 0]","[7062.34, 0]","[0, 0]"
1,38.34050,1,0,0,1,"[71977, 0]","[0.744369, 0]","[0.114742, 0]","[92855.5, 0]","[0.023464, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[198.008, 0]",8630.950,"[3915.35, 0]","[0, 0]","[7628.06, 0]","[0, 0]"
2,38.34050,1,0,0,1,"[167821, 0]","[0.351872, 0]","[2.82086, 0]","[178318, 0]","[0.00553608, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[849.554, 0]",1063.080,"[4414.17, 2429.15]","[0, 0]","[11566.6, 0]","[0, 0]"
3,38.34050,1,0,0,1,"[333769, 0]","[1.66451, 0]","[2.9616, 0]","[913250, 0]","[-0.0106468, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[8165.19, 0]",967.086,"[5288.77, 0]","[0, 0]","[2571.69, 15627.8]","[0, 0]"
4,38.34050,1,0,0,1,"[134175, 0]","[-0.85715, 0]","[-2.7468, 0]","[186557, 0]","[-0.0236855, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[1231.58, 0]",10927.200,"[11498.2, 5645.33]","[0, 0]","[9633.25, 0]","[0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20795,2.23622,1,0,0,1,"[60606.5, 0]","[1.71319, 0]","[0.6633, 0]","[173544, 0]","[-0.054493, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[718.465, 0]",1732.890,"[2929.02, 2433.32]","[0, 0]","[22198.5, 0]","[0, 0]"
20796,2.23622,0,1,0,1,"[78492.3, 0]","[1.97921, 0]","[-1.46007, 0]","[289447, 0]","[-0.843918, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[286.408, 0]",4102.910,"[3739.75, 2517.29, 3665.26, 992.514]","[0, 0]","[16776.3, 0]","[0, 0]"
20797,2.23622,0,1,0,1,"[84765.1, 0]","[0.832283, 0]","[-2.28646, 0]","[115858, 0]","[0.0215673, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[1704.16, 0]",3326.330,"[10076.7, 3832.86, 4567.74, 1158.98]","[0, 0]","[2654.48, 0]","[0, 0]"
20798,2.23622,0,1,0,1,"[238257, 0]","[-0.352048, 0]","[-2.37718, 0]","[253175, 0]","[0.0263214, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[15318.8, 0]",2113.720,"[9027.32, 7968.19, 2043.77, 2613.15, 4208.46]","[0, 0]","[30372.1, 0]","[0, 0]"
20799,2.23622,1,0,0,1,"[91356.5, 0]","[2.0767, 0]","[-2.56465, 0]","[370151, 0]","[0.0310783, 0]",...,"[0, 0]","[0, 0]","[0, 0]",0,"[550.866, 0]",1188.050,"[7661.01, 4409.94, 3939.02]","[0, 0]","[16364.7, 877.188]","[0, 0]"

In [37]:
#extracting the features for lists (only first two elements)
# Separate list and scalar columns
list_cols = []
scalar_cols = []

for col in TheChosenOnes:
    if col in df.columns:
        if isinstance(df[col][0], list):
            list_cols.append(col)
        else:
            scalar_cols.append(col)

print(f"List columns: {len(list_cols)}")
print(f"Scalar columns: {len(scalar_cols)}")

# Extract all list features at once
extracted_data = {}

# Add scalar columns
for col in scalar_cols:
    extracted_data[col] = df[col]

# Add list-derived columns
for col in list_cols:
    extracted_data[f'{col}_first'] = df[col].apply(lambda x: x[0] if len(x) > 0 else 0)
    extracted_data[f'{col}_second'] = df[col].apply(lambda x: x[1] if len(x) > 1 else 0)


# Create final dataframe in one go
df_extracted = pd.DataFrame(extracted_data)

print(f"Final shape: {df_extracted.shape}")
df_extracted

List columns: 46
Scalar columns: 13
Final shape: (20800, 105)

,XSection,trigE,trigM,trigP,lep_n,met_et,met_phi,jet_n,photon_n,largeRjet_n,...,lep_pt_syst_first,lep_pt_syst_second,jet_pt_syst_first,jet_pt_syst_second,photon_pt_syst_first,photon_pt_syst_second,largeRjet_pt_syst_first,largeRjet_pt_syst_second,tau_pt_syst_first,tau_pt_syst_second
0,38.34050,1,0,0,1,42418.1,-2.815250,3,0,1,...,1350.080,0.0,7939.15,8862.46,0,0,7062.34,0.000,0,0
1,38.34050,1,0,0,1,215070.0,0.136897,1,0,1,...,198.008,0.0,3915.35,0.00,0,0,7628.06,0.000,0,0
2,38.34050,1,0,0,1,143441.0,2.539070,2,0,1,...,849.554,0.0,4414.17,2429.15,0,0,11566.60,0.000,0,0
3,38.34050,1,0,0,1,80824.1,-1.520020,1,0,2,...,8165.190,0.0,5288.77,0.00,0,0,2571.69,15627.800,0,0
4,38.34050,1,0,0,1,98664.8,2.721780,2,0,1,...,1231.580,0.0,11498.20,5645.33,0,0,9633.25,0.000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20795,2.23622,1,0,0,1,133292.0,-0.012355,2,0,1,...,718.465,0.0,2929.02,2433.32,0,0,22198.50,0.000,0,0
20796,2.23622,0,1,0,1,343473.0,-1.411170,4,0,1,...,286.408,0.0,3739.75,2517.29,0,0,16776.30,0.000,0,0
20797,2.23622,0,1,0,1,140954.0,-2.423010,4,0,1,...,1704.160,0.0,10076.70,3832.86,0,0,2654.48,0.000,0,0
20798,2.23622,0,1,0,1,34491.7,-2.249390,5,0,1,...,15318.800,0.0,9027.32,7968.19,0,0,30372.10,0.000,0,0
20799,2.23622,1,0,0,1,97205.1,-2.442560,3,0,2,...,550.866,0.0,7661.01,4409.94,0,0,16364.70,877.188,0,0

In [ ]:
#dropping columns that are all zeros
for col in df_extracted.columns:
    if np.sum(df_extracted[col]) == 0:
        print(f"Column {col} is all zeros, dropping it.")
        df_extracted.drop(columns=[col], inplace=True)


df_extracted

Column trigP is all zeros, dropping it.
Column photon_n is all zeros, dropping it.
Column tau_n is all zeros, dropping it.
Column ditau_m is all zeros, dropping it.
Column photon_pt_first is all zeros, dropping it.
Column photon_pt_second is all zeros, dropping it.
Column photon_eta_first is all zeros, dropping it.
Column photon_eta_second is all zeros, dropping it.
Column photon_phi_first is all zeros, dropping it.
Column photon_phi_second is all zeros, dropping it.
Column photon_E_first is all zeros, dropping it.
Column photon_E_second is all zeros, dropping it.
Column photon_isTightID_first is all zeros, dropping it.
Column photon_isTightID_second is all zeros, dropping it.
Column photon_ptcone30_first is all zeros, dropping it.
Column photon_ptcone30_second is all zeros, dropping it.
Column photon_etcone20_first is all zeros, dropping it.
Column photon_etcone20_second is all zeros, dropping it.
Column photon_convType_first is all zeros, dropping it.
Column photon_convType_second is all zeros, dropping it.
Column tau_pt_first is all zeros, dropping it.
Column tau_pt_second is all zeros, dropping it.
Column tau_eta_first is all zeros, dropping it.
Column tau_eta_second is all zeros, dropping it.
Column tau_phi_first is all zeros, dropping it.
Column tau_phi_second is all zeros, dropping it.
Column tau_E_first is all zeros, dropping it.
Column tau_E_second is all zeros, dropping it.
Column tau_charge_first is all zeros, dropping it.
Column tau_charge_second is all zeros, dropping it.
Column tau_isTightID_first is all zeros, dropping it.
Column tau_isTightID_second is all zeros, dropping it.
Column tau_nTracks_first is all zeros, dropping it.
Column tau_nTracks_second is all zeros, dropping it.
Column tau_BDTid_first is all zeros, dropping it.
Column tau_BDTid_second is all zeros, dropping it.
Column photon_pt_syst_first is all zeros, dropping it.
Column photon_pt_syst_second is all zeros, dropping it.
Column tau_pt_syst_first is all zeros, dropping it.
Column tau_pt_syst_second is all zeros, dropping it.

,XSection,trigE,trigM,lep_n,met_et,met_phi,jet_n,largeRjet_n,met_et_syst,lep_pt_first,...,largeRjet_D2_first,largeRjet_D2_second,largeRjet_tau32_first,largeRjet_tau32_second,lep_pt_syst_first,lep_pt_syst_second,jet_pt_syst_first,jet_pt_syst_second,largeRjet_pt_syst_first,largeRjet_pt_syst_second
0,38.34050,1,0,1,42418.1,-2.815250,3,1,14713.300,202955.0,...,1.852610,0.000000,0.738676,0.000000,1350.080,0.0,7939.15,8862.46,7062.34,0.000
1,38.34050,1,0,1,215070.0,0.136897,1,1,8630.950,71977.0,...,2.926430,0.000000,0.367092,0.000000,198.008,0.0,3915.35,0.00,7628.06,0.000
2,38.34050,1,0,1,143441.0,2.539070,2,1,1063.080,167821.0,...,1.437230,0.000000,0.483127,0.000000,849.554,0.0,4414.17,2429.15,11566.60,0.000
3,38.34050,1,0,1,80824.1,-1.520020,1,2,967.086,333769.0,...,0.000000,2.231930,-1.000000,0.689002,8165.190,0.0,5288.77,0.00,2571.69,15627.800
4,38.34050,1,0,1,98664.8,2.721780,2,1,10927.200,134175.0,...,0.424021,0.000000,0.671545,0.000000,1231.580,0.0,11498.20,5645.33,9633.25,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20795,2.23622,1,0,1,133292.0,-0.012355,2,1,1732.890,60606.5,...,2.236600,0.000000,0.721744,0.000000,718.465,0.0,2929.02,2433.32,22198.50,0.000
20796,2.23622,0,1,1,343473.0,-1.411170,4,1,4102.910,78492.3,...,0.805582,0.000000,0.708516,0.000000,286.408,0.0,3739.75,2517.29,16776.30,0.000
20797,2.23622,0,1,1,140954.0,-2.423010,4,1,3326.330,84765.1,...,2.539100,0.000000,0.644508,0.000000,1704.160,0.0,10076.70,3832.86,2654.48,0.000
20798,2.23622,0,1,1,34491.7,-2.249390,5,1,2113.720,238257.0,...,1.026740,0.000000,0.686929,0.000000,15318.800,0.0,9027.32,7968.19,30372.10,0.000
20799,2.23622,1,0,1,97205.1,-2.442560,3,2,1188.050,91356.5,...,1.136600,0.494991,0.859600,0.677340,550.866,0.0,7661.01,4409.94,16364.70,877.188

In [42]:
df['target_onehot']

0        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
1        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
2        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
3        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
4        [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0]
                             ...
20795    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
20796    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
20797    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
20798    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
20799    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
Name: target_onehot, Length: 20800, dtype: object

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# First, handle your list columns and prepare features
# You'll need to expand list columns into individual features

# 1. Split FIRST
X = df[TheChosenOnes]  # Your features
y = df['target']       # Your targets

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# 2. Scale AFTER splitting
scaler = StandardScaler()

# Fit scaler only on training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform test data using training statistics
X_test_scaled = scaler.transform(X_test)  # Note: only transform, not fit_transform

ValueError: setting an array element with a sequence.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# 1. Split FIRST - Use numeric targets for stratification
X = df_extracted  # Your features
y_numeric = df['target']  # Use numeric targets for stratification
y_onehot = df['target_onehot']  # Keep one-hot for training

X_train, X_test, y_train_numeric, y_test_numeric, y_train_onehot, y_test_onehot = train_test_split(
    X, y_numeric, y_onehot, test_size=0.2, random_state=42, stratify=y_numeric
)

# 2. Scale AFTER splitting
scaler = StandardScaler()

# Fit scaler only on training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform test data using training statistics
X_test_scaled = scaler.transform(X_test)


y_train, y_test = y_train_onehot, y_test_onehot  # Use one-hot targets for training
print(f"Training data shape: {X_train_scaled.shape}")
print(f"Test data shape: {X_test_scaled.shape}")
print(f"Target distribution: {np.bincount(y_train_numeric)}")

Training data shape: (16640, 65)
Test data shape: (4160, 65)
Target distribution: [ 640  640  640  480 6080 5120 1920  960  160]

In [ ]:
# 3. Train your neural network
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(65, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(125, activation='relu'),
    Dense(80, activation='relu'),
    Dense(len(np.unique(y)), activation='softmax')  # Number of classes
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train_scaled, y_train, validation_split=0.2, epochs=100)